<html>
<head>
<title>Templates</title>
</head>
<body>
<p><font size="10">&emsp;Templates</font>
<font size="5">&emsp;&emsp;2019/07/29</font></p>
<!-- temp0 -->
<table border="1" height="30">
    <tr><th colspan="2" align="left"><font size="5">&emsp;temp0</font></th></tr>
    <tr><td rowspan="20"><a href="temp0/template0.jpg"><img src="temp0/template0.jpg" alt=JPG width="240"></a></td></tr>
    <tr><td align="center" width="80"><a href="temp0/template0.cdy">cdy</a></td></tr>
    <tr><td align="center" width="80"><a href="temp0/template0.txt">Scripts</a></td></tr>
    <tr><td align="center" width="80"><a href="temp0/buttons.txt">Buttons</a></td></tr>
    <tr><td align="center" width="80"></td></tr>
</table></br>
<!-- temp1 -->
<table border="1" height="30">
    <tr><th colspan="2" align="left"><font size="5">&emsp;temp1</font></th></tr>
    <tr><td rowspan="20"><a href="temp1/template1basic.jpg"><img src="temp1/template1basic.jpg" alt=JPG width="240"></a></td></tr>
    <tr><td align="center" width="80"><a href="temp1/template1basic.cdy">cdy</a></td></tr>
    <tr><td align="center" width="80"><a href="temp1/template1basic.txt">Scripts</a></td></tr>
    <tr><td align="center" width="80"><a href="temp1/buttons.txt">Buttons</a></td></tr>
    <tr><td align="center" width="80"></td></tr>
</table></br>
<!-- temp2slide -->
<table border="1" height="30">
    <tr><th colspan="2" align="left"><font size="5">&emsp;temp2slide</font></th></tr>
    <tr><td rowspan="20"><a href="temp2slide/s0701basic.jpg"><img src="temp2slide/s0701basic.jpg" alt=JPG width="240"></a></td></tr>
    <tr><td align="center" width="80"><a href="temp2slide/s0701basicJ.cdy">cdyJ</a></td></tr>
    <tr><td align="center" width="80"><a href="temp2slide/s0701basicJ.txt">txtJ</a></td></tr>
    <tr><td align="center" width="80"><a href="temp2slide/s0701basicJscripts.txt">ScriptsJ</a></td></tr>
    <tr><td align="center" width="80"><a href="temp2slide/s0701basicE.cdy">cdyE</a></td></tr>
    <tr><td align="center" width="80"><a href="temp2slide/s0701basicE.txt">txtE</a></td></tr>
    <tr><td align="center" width="80"><a href="temp2slide/s0701basicEscripts.txt">ScriptsE</a></td></tr>
    <tr><td align="center" width="80"><a href="temp2slide/buttons.txt">Buttons</a></td></tr>
    <tr><td align="center" width="80"></td></tr>
</table></br>
<!-- temp3D -->
<table border="1" height="30">
    <tr><th colspan="2" align="left"><font size="5">&emsp;temp3D</font></th></tr>
    <tr><td rowspan="20"><a href="temp3D/template3Dfigure.png"><img src="temp3D/template3Dfigure.png" alt=PNG width="240"></a></td></tr>
    <tr><td align="center" width="80"><a href="temp3D/template3Dfigure.cdy">cdy</a></td></tr>
    <tr><td align="center" width="80"><a href="temp3D/template3Dfigure.txt">Scripts</a></td></tr>
    <tr><td align="center" width="80"><a href="temp3D/buttons.txt">Buttons</a></td></tr>
    <tr><td align="center" width="80"></td></tr>
</table></br>
<!-- tempketjs -->
<table border="1" height="30">
    <tr><th colspan="2" align="left"><font size="5">&emsp;tempketjs</font></th></tr>
    <tr><td rowspan="20"><a href="tempketjs/template4ketcindyjs.jpg"><img src="tempketjs/template4ketcindyjs.jpg" alt=JPG width="240"></a></td></tr>
    <tr><td align="center" width="80"><a href="tempketjs/template4ketcindyjs.cdy">cdy</a></td></tr>
    <tr><td align="center" width="80"><a href="tempketjs/template4ketcindyjs.txt">Scripts</a></td></tr>
    <tr><td align="center" width="80"><a href="tempketjs/buttons.txt">Buttons</a></td></tr>
    <tr><td align="center" width="80"></td></tr>
</table></br>

</body>
</html>
